.container{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color:darkgrey;
    /* border-color: black; */
    border-radius: 2%;
    /* border-width: 5rem; */
    width:35rem;
    border: 2px dotted rgb(9, 10, 9);
    /* align-self: center; */
    /* align-items: center; */
    /* justify-content: center; */
}

.back{
    background-color: rgb(10, 9, 9);
}

.back2{
    background-color:rgba(222, 184, 135, 0.862);
    border: 8px solid black;
}

.searchbar{
    margin-top: 2px;
    margin-bottom: 5px;
    height: 20px;
    width: auto;
    border: 3px solid rgb(69, 37, 72);
    text-align: center;
}

